<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<link rel="stylesheet" href="./css/cookie.css">

<h1>Notable Albums</h1>
<li th:each="album : ${albums}">
    <div> <img class="cover-art" th:src=${src=this.imageUrl}></div>
    <span th:text="${'Album Title: ' + album.title}"></span>
    <br><span th:text="${'Artist Name: ' + album.artist}"></span>
    <br><span th:text="${'Track Count: ' + album.songCount}"></span>
    <br><span th:text="${'Total Playing Time: ' + friend.yearsOfFriendship}"></span>
    <br><br>
</li>

</body>
</html>