<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<link rel="stylesheet" href="./css/splash-page.css">

<h1>songr</h1>
<br>
<h2>🎼 Notable Albums</h2>
<li th:each="album : ${albums}">
    <div><a th:href="${'/view-album/' + album.title}"><img class="cover-art" th:src="${album.imageUrl}"></a></div>
    <!--<div><img class="record-icon" src=https://www.flaticon.com/free-icons/vinyl"></div>-->
    <br><span th:text="${'Album Title: ' + album.title}"></span>
    <br><span th:text="${'Artist Name: ' + album.artist}"></span>
    <br><span th:text="${'Track Count: ' + album.songCount}"></span>
    <br><span th:text="${'Total Playing Time: ' + album.length}"></span>
    <br><a th:href="${'/view-album/' + album.title}">View Album Info</a>
    <br><a th:href="${'/edit-album/' + album.title}">Edit Album Info</a>
    <br><br>
</li>

<form action="/addAlbum/" method="post">
    <fieldset>
        <legend>Add Another Album</legend>
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="artist">Artist Name</label>
        <input type="text" name="artist">
        <label for="songCount">Track Count</label>
        <input type="number" name="songCount">
        <label for="length">Total Playing Time (mm:ss) </label>
        <input type="number" name="length">
        <label for="imageUrl">URL For Album Cover</label>
        <input type="text" name="imageUrl">
        <input type="submit" value="Add Album">
    </fieldset>
</form>

<!-- TODO: Add update method form (PATCH ? Render form on div per-album?) -->
<!--<form action="/addAlbum/" method="post">
    <fieldset>
        <legend>Add Another Album</legend>
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="artist">Average Number Of Cookies Per Day</label>
        <input type="text" name="artist">
        <label for="songCount">Store Opening Date</label>
        <input type="number" name="songCount">
        <label for="length">Total Playing Time (mm:ss) </label>
        <input type="number" name="length">
        <label for="imageUrl">URL For Album Cover</label>
        <input type="text" name="imageUrl">
        <input type="submit" value="Add Album">
    </fieldset>
</form>-->


</body>
</html>